<div class="container">
    <div>
        <h2>Ventas</h2>
        <div>
            <input type="text" maxlength="20" placeholder="Buscar" [(ngModel)]="abmService.search" (input)="abmService.getAllItems('ventas')">
            <button class="btn btn-create" (click)="aPuntoVenta()">Nueva Venta</button>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th (click)="abmService.sort('ventas', 'fecha')">Fecha &#8645;</th>
                <th (click)="abmService.sort('ventas', 'cliente_id')">Cliente &#8645;</th>
                <th (click)="abmService.sort('ventas', 'importe_total')">Importe &#8645;</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let venta of abmService.items$ | async">
                <td>{{ venta.fecha | date : 'dd/MM/yyyy' }}</td>
                <td>{{ venta.cliente?.nombre }}<span *ngIf="!venta.cliente?.nombre">Consumidor final</span></td>
                <td>${{ venta.importe_total }}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="abrirModal(true, 'Venta', venta)">Ver</button>
                    <button class="btn btn-sm btn-danger" (click)="abmService.deleteItem('ventas', venta.id!)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <h5 *ngIf="!(abmService.itemsLength$ | async)">No hay resultados</h5>
    <div>
        <select id="pageSize" [(ngModel)]="abmService.take" (change)="abmService.getAllItems('ventas')">
            <option value="5">Ver de 5 items por página</option>
            <option value="10">Ver de 10 items por página</option>
            <option value="15">Ver de 15 items por página</option>
            <option value="20">Ver de 20 items por página</option>
            <option value="25">Ver de 25 items por página</option>
        </select>
        <div>
            <button class="btn btn-page" *ngIf="abmService.page > 1" (click)="abmService.pageBack('ventas')">
                < Anterior
            </button>
            <button class="btn btn-page" *ngIf="(abmService.take * abmService.page) < (abmService.itemsLength$ | async)!" (click)="abmService.pageForw('ventas')">
                Siguiente >
            </button>
        </div>
    </div>
</div>