.container {
    width: 50vw;
    height: 50vh;
    margin: 20vh auto;
    border-radius: 4px;
    padding: 64px;
    padding-top: 32px;
    box-shadow: 0 0 16px 4px rgba(0,0,0,.5);
}

input {
    margin: 10px 0;
}

button {
    text-align: center;
    width: 100%;
    margin: 10px 0;
}

.error {
    color: red;
    text-align: center;
}

h2 {
    text-align: center;
}

@media screen and (max-width: 650px) {
    .container {
        width: 75%;
    }
}