<div class="container">
    <div>
        <h2>Rubros</h2>
        <div>
            <input type="text" maxlength="20" placeholder="Buscar por nombre" [(ngModel)]="search" (input)="obtenerRubros()">
            <button class="btn btn-create" (click)="abrirModal(false, 'Rubro')">Crear Rubro</button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th (click)="toggleNom()">Nombre &#8645;</th>
                <th (click)="toggleCod()">Código &#8645;</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rubro of rubros">
                <td>{{ rubro.nombre }}</td>
                <td>{{ rubro.codigo }}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="abrirModal(true, 'Rubro', rubro)">Ver</button>
                    <button class="btn btn-sm btn-success" (click)="abrirModal(false, 'Rubro', {
                        nombre: rubro.nombre, 
                        codigo: rubro.codigo, 
                        id: rubro.id})">Editar</button>
                    <button class="btn btn-sm btn-danger" (click)="this.eliminarRubro(rubro.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <h5 *ngIf="!rubros?.length">No hay resultados</h5>
    <div>
        <select id="pageSize" [(ngModel)]="take" (change)="obtenerRubros()">
            <option value="5">Ver de 5 items por página</option>
            <option value="10">Ver de 10 items por página</option>
            <option value="15">Ver de 15 items por página</option>
            <option value="20">Ver de 20 items por página</option>
            <option value="25">Ver de 25 items por página</option>
        </select>
        <div>
            <button class="btn btn-page" *ngIf="page > 1" (click)="pageBack()">< Anterior</button>
            <button class="btn btn-page" *ngIf="(take * page) < rubrosLength" (click)="pageForw()">Siguiente ></button>
        </div>
    </div>
</div>