<!-- rubros.component.html -->
<div class="container">
    <h2>Listado de Rubros</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Código</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rubro of rubros">
                <td>{{ rubro.nombre }}</td>
                <td>{{ rubro.codigo }}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="abrirModal(true, 'Rubro', rubro)">Ver</button>
                    <button class="btn btn-sm btn-success" (click)="abrirModal(false, 'Rubro', rubro)">Editar</button>
                    <button class="btn btn-sm btn-danger" (click)="this.eliminarRubro(rubro.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
        <button class="btn btn-sm btn-primary" (click)="abrirModal(false, 'Rubro')">Crear Rubro</button>
    </table>
</div>