.container {
    width: 50%;
    margin: 0 auto;
}

input {
    margin: 10px 0;
}

button {
    text-align: center;
}

.error {
    color: red;
    text-align: center;
}

h2 {
    text-align: center;
}

@media screen and (max-width: 650px) {
    .container {
        width: 75%;
    }
}