<div class="modal-header">
    <h4 class="modal-title">{{ onlyView ? 'Ver' : 'Crear/editar'}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>

<div *ngIf="onlyView" class="modal-body">
    <ng-container [ngSwitch]="itemType">
        <div *ngSwitchCase="'Cliente'">
            <table style="width:100%">
                <tr>
                    <th>Nombre</th>
                    <th>CUIT</th>
                    <th>Email</th>
                    <th>Domicilio</th>
                    <th>Teléfono</th>
                </tr>
                <tr>
                    <td>{{item.nombre}}</td>
                    <td>{{item.cuit}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.domicilio}}</td>
                    <td>{{item.telefono}}</td>
                </tr>
            </table>
        </div>
        <div *ngSwitchCase="'Producto'">
            <table style="width:100%">
                <tr>
                    <th>Nombre</th>
                    <th>Código</th>
                    <th>Precio</th>
                    <th>Rubro</th>
                </tr>
                <tr>
                    <td>{{item.nombre}}</td>
                    <td>{{item.codigo}}</td>
                    <td>${{item.precio}}</td>
                    <td>{{item.rubro.nombre}}</td>
                </tr>
            </table>
        </div>
        <div *ngSwitchCase="'Rubro'">
            <table style="width:100%">
                <tr>
                    <th>Nombre</th>
                    <th>Código</th>
                </tr>
                <tr>
                    <td>{{item.nombre}}</td>
                    <td>{{item.codigo}}</td>
                </tr>
            </table>
        </div>
        <div *ngSwitchCase="'Venta'">
            <table style="width:100%">
                <tr>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Importe</th>
                    <th>Observaciones</th>
                </tr>
                <tr>
                    <td>{{item.fecha | date : 'dd/MM/yyyy'}}</td>
                    <td>{{item.cliente?.nombre}}<span *ngIf="!item.cliente?.nombre">Consumidor final</span></td>
                    <td>${{item.importe_total}}</td>
                    <td>{{item.observaciones}}</td>
                </tr>
                <tr>
                    <th colspan="4">Items</th>
                </tr>
                <tr *ngFor="let it of item.items">
                    <td>Producto: {{it.producto.nombre}}</td>
                    <td>Cantidad: {{it.cantidad}}</td>
                    <td>Total: {{it.importe_total}}</td>
                </tr>
            </table>
        </div>
    </ng-container>
</div>

<div *ngIf="!onlyView" class="modal-body">
    <ng-container [ngSwitch]="itemType">
        <div *ngSwitchCase="'Cliente'" style="display:flex;justify-content: space-around; flex-wrap:wrap;">
            <div>
                <label for="nombre">* Nombre:</label>
                <input
                    type="text"
                    id="nombre"
                    minlength="4"
                    maxlength="30"
                    [(ngModel)]="item.nombre"
                    required>
            </div>
            <div>
                <label for="cuit">* CUIT:</label>
                <input
                    type="text"
                    id="cuit"
                    minlength="10"
                    maxlength="11"
                    [(ngModel)]="item.cuit"
                    required>
            </div>
            <div>
                <label for="email">Email:</label>
                <input
                    type="email"
                    id="email"
                    minlength="8"
                    maxlength="30"
                    [(ngModel)]="item.email"
                    required>
            </div>
            <div>
                <label for="domicilio">Domicilio:</label>
                <input
                    type="text"
                    id="domicilio"
                    minlength="4"
                    maxlength="30"
                    [(ngModel)]="item.domicilio"
                    required>
            </div>
            <div>
                <label for="telefono">Teléfono:</label>
                <input
                    type="text"
                    id="telefono"
                    minlength="7"
                    maxlength="15"
                    [(ngModel)]="item.telefono"
                    required>
            </div>
        </div>
        <div *ngSwitchCase="'Producto'" style="display:flex;justify-content: space-around; flex-wrap:wrap;">
            <div>
                <label for="nombre">* Nombre:</label>
                <input
                    type="text"
                    id="nombre"
                    minlength="2"
                    maxlength="30"
                    [(ngModel)]="item.nombre"
                    required>
            </div>
            <div>
                <label for="codigo">* Código:</label>
                <input
                    type="text"
                    id="codigo"
                    minlength="1"
                    maxlength="50"
                    [(ngModel)]="item.codigo"
                    required>
            </div>
            <div>
                <label for="precio">* Precio:</label>
                <input
                    type="number"
                    id="precio"
                    maxlength="7"
                    [(ngModel)]="item.precio"
                    required>
            </div>
            <div>
                <label for="rubro">Rubro:</label>
                <select type="number" id="rubro" [(ngModel)]="item.rubro_id">
                    <option *ngFor="let rubro of rubros" [value]="rubro.id">{{ rubro.nombre }}</option>
                </select>
            </div>
        </div>
        <div *ngSwitchCase="'Rubro'" style="display:flex;justify-content: space-around; flex-wrap:wrap;">
            <div>
                <label for="nombre">* Nombre:</label>
                <input
                    type="text"
                    id="nombre"
                    minlength="4"
                    maxlength="30"
                    [(ngModel)]="item.nombre"
                    required>
            </div>
            <div>
                <label for="codigo">* Código:</label>
                <input
                    type="text"
                    id="codigo"
                    minlength="1"
                    maxlength="50"
                    [(ngModel)]="item.codigo"
                    required>
            </div>
        </div>
        <div *ngSwitchDefault>
            No se encontró un tipo de item válido.
        </div>
    </ng-container>
</div>

<div *ngIf="!onlyView" class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSave()">Guardar</button>
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
</div>