<div class="modal-header">
    <h4 class="modal-title">{{ onlyView ? 'Ver' : 'Crear/editar'}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>

<div *ngIf="onlyView" class="modal-body">
    <ng-container [ngSwitch]="itemType">
        <div *ngSwitchCase="'Cliente'">
            <table style="width:100%">
                <tr>
                    <th>Nombre</th>
                    <th>CUIT</th>
                    <th>Email</th>
                    <th>Domicilio</th>
                    <th>Teléfono</th>
                </tr>
                <tr>
                    <td>{{item.nombre}}</td>
                    <td>{{item.cuit}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.domicilio}}</td>
                    <td>{{item.telefono}}</td>
                </tr>
            </table>
        </div>
        <div *ngSwitchCase="'Producto'">
            <table style="width:100%">
                <tr>
                    <th>Nombre</th>
                    <th>Código</th>
                    <th>Precio</th>
                    <th>Rubro</th>
                </tr>
                <tr>
                    <td>{{item.nombre}}</td>
                    <td>{{item.codigo}}</td>
                    <td>${{item.precio}}</td>
                    <td>{{item.rubro.nombre}}</td>
                </tr>
            </table>
        </div>
        <div *ngSwitchCase="'Rubro'">
            <table style="width:100%">
                <tr>
                    <th>Nombre</th>
                    <th>Código</th>
                </tr>
                <tr>
                    <td>{{item.nombre}}</td>
                    <td>{{item.codigo}}</td>
                </tr>
            </table>
        </div>
        <div *ngSwitchCase="'Venta'">
            <table style="width:100%">
                <tr>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Importe</th>
                    <th>Observaciones</th>
                </tr>
                <tr>
                    <td>{{item.fecha | date : 'dd/MM/yyyy'}}</td>
                    <td>{{item.cliente?.nombre}}<span *ngIf="!item.cliente?.nombre">Consumidor final</span></td>
                    <td>${{item.importe_total}}</td>
                    <td>{{item.observaciones}}</td>
                </tr>
                <tr>
                    <th colspan="4">Items</th>
                </tr>
                <tr *ngFor="let it of item.items">
                    <td>Producto: {{it.producto.nombre}}</td>
                    <td>Cantidad: {{it.cantidad}}</td>
                    <td>Total: {{it.importe_total}}</td>
                </tr>
            </table>
        </div>
    </ng-container>
</div>

<form #modalForm="ngForm">
    <div *ngIf="!onlyView" class="modal-body">
        <ng-container [ngSwitch]="itemType">
            <div *ngSwitchCase="'cliente'" class="formContainer">
                <div class="formInputs">
                    <label for="nombre">* Nombre:</label>
                    <input #nombre="ngModel" type="text" id="nombre" name="nombre" pattern="^(?:[a-zA-Z0-9\u00C0-\u017F]{3,}\s)+[a-zA-Z0-9\u00C0-\u017F]{3,}$" maxlength="40" [(ngModel)]="item.nombre"
                        required>
                        <div class="error" *ngIf="nombre.errors?.['pattern']">Ingresar nombre completo</div>
                </div>
                <div class="formInputs">
                    <label for="cuit">* CUIT:</label>
                    <input #cuit="ngModel" type="text" id="cuit" name="cuit" minlength="11" maxlength="11" pattern="^[0-9]+$" [(ngModel)]="item.cuit"
                        required>
                        <div class="error" *ngIf="cuit.errors?.['pattern']">Ingresar 11 números únicamente</div>
                </div>
                <div class="formInputs">
                    <label for="email">Email:</label>
                    <input #email="ngModel" type="email" id="email" name="email" maxlength="30" pattern="^[a-zA-Z0-9]+@[a-zA-Z0-9]+\.[a-zA-Z0-9]+$" [(ngModel)]="item.email">
                    <div class="error" *ngIf="email.errors?.['pattern']">Formato incorrecto (ejemplo@email.com)</div>
                </div>
                <div class="formInputs">
                    <label for="domicilio">Domicilio:</label>
                    <input #domicilio="ngModel" type="text" id="domicilio" name="domicilio" minlength="4" maxlength="30"
                        [(ngModel)]="item.domicilio">
                        <div class="error" *ngIf="domicilio.errors?.['minlength']">Mínimo 4 caracteres</div>
                </div>
                <div class="formInputs">
                    <label for="telefono">Teléfono:</label>
                    <input #telefono="ngModel" type="text" id="telefono" name="telefono" minlength="6" maxlength="15"
                        [(ngModel)]="item.telefono">
                    <div class="error" *ngIf="telefono.errors?.['minlength']">Mínimo 6 números</div>
                </div>
            </div>
            <div *ngSwitchCase="'producto'" class="formContainer">
                <div class="formInputs">
                    <label for="nombre">* Nombre:</label>
                    <input #nombre="ngModel" type="text" id="nombre" name="nombre" minlength="3" maxlength="30" [(ngModel)]="item.nombre"
                        required>
                        <div class="error" *ngIf="nombre.errors?.['minlength']">Mínimo 3 caracteres</div>
                </div>
                <div class="formInputs">
                    <label for="codigo">* Código:</label>
                    <input type="text" id="codigo" name="codigo" minlength="1" maxlength="30" [(ngModel)]="item.codigo"
                        required>
                </div>
                <div class="formInputs">
                    <label for="precio">* Precio:</label>
                    <input #precio="ngModel" type="number" id="precio" name="precio" min="1" max="9999999" [(ngModel)]="item.precio" required>
                    <div class="error" *ngIf="precio.errors?.['max']">Máximo $9999999</div>
                </div>
                <div class="formInputs">
                    <label for="rubro">Rubro:</label>
                    <select type="number" id="rubro" name="rubro" [(ngModel)]="item.rubro_id">
                        <option *ngFor="let rubro of abmService.items$ | async" [value]="rubro.id">{{ rubro.nombre }}
                        </option>
                    </select>
                </div>
            </div>
            <div *ngSwitchCase="'rubro'" class="formContainer">
                <div class="formInputs">
                    <label for="nombre">* Nombre:</label>
                    <input #nombre="ngModel" type="text" id="nombre" name="nombre" minlength="3" maxlength="30" [(ngModel)]="item.nombre"
                        required>
                        <div class="error" *ngIf="nombre.errors?.['minlength']">Mínimo 3 caracteres</div>
                </div>
                <div class="formInputs">
                    <label for="codigo">* Código:</label>
                    <input type="text" id="codigo" name="codigo" minlength="1" maxlength="30" [(ngModel)]="item.codigo"
                        required>
                </div>
            </div>
            <div *ngSwitchDefault>
                No se encontró un tipo de item válido.
            </div>
        </ng-container>
    </div>

    <div *ngIf="!onlyView" class="modal-footer">
        <button [disabled]="modalForm.invalid" type="button" class="btn btn-primary" (click)="onSave()">Guardar</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
    </div>
</form>