<!-- productos.component.html -->
<div class="container">
    <div>
        <h2>Punto de Venta</h2>
        <button class="btn btn-create" (click)="crearVenta()">Crear Venta</button>
    </div>
    <div>
        <div class="punto-venta">
            <input type="text" maxlength="20" placeholder="Buscar productos" id="prSearch" (focus)="prList = true"
                (blur)="noLists()" [(ngModel)]="prSearch" (input)="obtenerProductos()">
            <ul class="lista" *ngIf="prList">
                <li *ngFor="let producto of productos" (click)="nuevoItem(producto.nombre, producto.precio, producto.id)">
                        {{ producto.nombre }}
                </li>
            </ul>
            <table class="tabla">
                <thead>
                    <tr>
                        <th>Cant.</th>
                        <th>Descripción</th>
                        <th>Unitario</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items; let i = index">
                        <th>
                            <button class="btn"(click)="actImp(i, -1)">-</button>
                            {{ item.cantidad }}
                            <button class="btn" (click)="actImp(i, +1)">+</button>
                        </th>
                        <td>{{ item.nombre }}</td>
                        <td>${{ item.importe_unitario | number : '1.2-2' }}</td>
                        <td>${{ item.importe_total | number : '1.2-2'  }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <th>Total</th>
                        <th>${{ total | number : '1.2-2'  }}</th>
                    </tr>
                </tfoot>
            </table>
            <p *ngIf="errSell">Ingrese productos</p>
        </div>
        <div class="datos-venta">
            <input *ngIf="!selectedClient" maxlength="20" type="text" placeholder="Buscar clientes" id="clSearch" (focus)="clList = true"
                (blur)="noLists()" [(ngModel)]="clSearch" (input)="obtenerClientes()">
            <ul class="lista" *ngIf="clList">
                <li *ngFor="let cliente of clientes" (click)="selectedClient = cliente; errClient = false">
                        {{ cliente.nombre }}
                </li>
            </ul>
            <p *ngIf="errClient">Ingrese un cliente</p>
            <h6 *ngIf="selectedClient">Cliente seleccionado:</h6>
            <h4 *ngIf="selectedClient">
                {{ selectedClient.nombre }} <span class="remover" (click)="selectedClient = null">X QUITAR</span>
            </h4>
            <label class="fecha-venta" for="fecha-venta">Fecha de la venta:</label>
            <input type="datetime-local" id="fecha-venta" (input)="errDate = false" name="fecha-venta" [(ngModel)]="date">
            <p *ngIf="errDate">Ingrese una fecha</p>
            <textarea name="observaciones-venta" placeholder="Observaciones de la venta" [(ngModel)]="observaciones"></textarea>
        </div>
    </div>
</div>