<!-- productos.component.html -->
<div class="container">
    <div>
        <h2>Listado de Productos</h2>
        <button class="btn btn-create" (click)="abrirModal(false, 'Producto')">Crear Producto</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th (click)="toggleNom()">Nombre &#8645;</th>
                <th (click)="toggleCod()">Código &#8645;</th>
                <th (click)="togglePrecio()">Precio &#8645;</th>
                <th>Rubro &#8645;</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of productos">
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.codigo }}</td>
                <td>{{ producto.precio | number : '1.2-2' }}</td>
                <td>{{ producto.rubro }}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="abrirModal(true, 'Producto', producto)">Ver</button>
                    <button class="btn btn-sm btn-success" (click)="abrirModal(false, 'Producto', producto)">Editar</button>
                    <button class="btn btn-sm btn-danger" (click)="this.eliminarProducto(producto.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>