<div class="container">
    <div>
        <h2>Listado de Ventas</h2>
        <div>
            <input type="text" placeholder="Buscar" [(ngModel)]="search" (input)="obtenerVentas()">
            <button class="btn btn-create" (click)="aPuntoVenta()">Nueva Venta</button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Fecha &#8645;</th>
                <th>Cliente &#8645;</th>
                <th>Importe &#8645;</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Aquí puedes usar *ngFor para iterar sobre la lista de ventas -->
            <tr *ngFor="let venta of ventas">
                <td>{{ venta.fecha }}</td>
                <td>{{ venta.cliente.nombre }}</td>
                <td>{{ venta.importe_total }}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="abrirModal(true, 'Venta', venta)">Ver</button>
                    <button class="btn btn-sm btn-danger" (click)="this.eliminarVenta(venta.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <select id="pageSize" [(ngModel)]="take" (change)="obtenerVentas()">
            <option value="5">Ver de 5 items por página</option>
            <option value="10">Ver de 10 items por página</option>
            <option value="15">Ver de 15 items por página</option>
            <option value="20">Ver de 20 items por página</option>
            <option value="25">Ver de 25 items por página</option>
        </select>
        <div>
            <button class="btn btn-page" *ngIf="page > 1" (click)="pageBack()">
                < Anterior</button>
                    <button class="btn btn-page" *ngIf="(take * page) < ventasLength" (click)="pageForw()">Siguiente
                        ></button>
        </div>
    </div>
</div>