<div class="container">
    <div>
        <h2>Punto de Venta</h2>
        <button class="btn btn-create" (click)="crearVenta()">Crear Venta</button>
    </div>
    <div class="view">
        <div [ngClass]="{ 'error' : errSell }" class="punto-venta">
            <input type="text" maxlength="20" placeholder="Buscar productos" id="prSearch" (focus)="onFocus('productos')"
                (blur)="noLists('pr')" [(ngModel)]="prSearch" (input)="onChanged('productos')">
            <ul class="lista" *ngIf="prList">
                <li *ngFor="let producto of abmService.items$ | async" (click)="nuevoItem(producto.nombre, producto.precio, producto.id)">
                        {{ producto.nombre }}
                </li>
            </ul>
            <table class="tabla">
                <thead>
                    <tr>
                        <th>Cant.</th>
                        <th>Descripción</th>
                        <th>Unitario</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items; let i = index">
                        <th>
                            <span (click)="actImp(i, -1)"><i class="bi bag bi-bag-dash"></i></span>
                            {{ item.cantidad }}
                            <span (click)="actImp(i, +1)"><i class="bi bag bi-bag-plus"></i></span>
                        </th>
                        <td>{{ item.nombre }}</td>
                        <td>${{ item.importe_unitario | number : '1.2-2' }}</td>
                        <td>${{ item.importe_total | number : '1.2-2'  }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <th>Total</th>
                        <th>${{ total | number : '1.2-2'  }}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="datos-venta">
            <input *ngIf="!selectedClient?.id" maxlength="20" type="text" placeholder="Buscar clientes" id="clSearch" (focus)="onFocus('clientes')"
                (blur)="noLists('cl')" [(ngModel)]="clSearch" (input)="onChanged('clientes')">
            <ul class="lista" *ngIf="clList">
                <li *ngFor="let cliente of abmService.items$ | async" (click)="selectedClient = cliente">
                        {{ cliente.nombre }}
                </li>
            </ul>
            <h6 *ngIf="selectedClient?.id">Cliente seleccionado:</h6>
            <h4 *ngIf="selectedClient">
                {{ selectedClient.nombre }} <span class="remover"*ngIf="selectedClient?.id" (click)="selectedClient = {nombre: 'Consumidor final', id: 0}"><i class="bi bi-x-square-fill"></i></span>
            </h4>
            <label class="fecha-venta" for="fecha-venta">Fecha de la venta:</label>
            <input
                type="date"
                id="fecha-venta"
                min="1990-01-01"
                max={{today}}
                (input)="errDate = false" name="fecha-venta"
                [ngClass]="{ 'error' : errDate}"
                [(ngModel)]="date"
                required
            >
            <textarea name="observaciones-venta" placeholder="Observaciones de la venta" [(ngModel)]="observaciones"></textarea>
        </div>
    </div>
</div>