.container div {
    display: flex;
    justify-content: space-between;
}

table tr td {
    text-align: center;
}

table tr th {
    cursor: pointer;
    user-select: none;
    text-align: center;
}

.btn-create {
    background-color: #F9B935;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

.btn-create:hover {
    background-color: #E9A925;
}

.btn-page {
    background-color: #ccc;
    margin: 1px;
}

.btn-page:hover {
    background-color: #bbb;
}

@media screen and (max-width: 650px) {
    .container {
        font-size: 12px;
    }
    .container div {
        margin: 5px;
    }
    div input {
        width: 100px;
    }
    .btn-create {
        width: 60px;
        font-size: 16px;
        padding: 4px;
    }
    td button {
        width: 50px;
        font-size: 10px;
        padding: 4px;
    }
    div button {
        width: 70px;
        font-size: 10px;
        padding: 4px;
    }
}