<div class="container">
    <div>
        <h2>Clientes</h2>
        <div>
            <input type="text" maxlength="20" placeholder="Buscar por CUIT o nombre" [(ngModel)]="abmService.search" (input)="onInputChanged()">
            <button class="btn btn-create" (click)="abrirModal(false, 'Cliente')">Crear Cliente</button>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th (click)="abmService.sort('clientes', 'nombre')">Nombre &#8645;</th>
                <th (click)="abmService.sort('clientes', 'cuit')">CUIT &#8645;</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of abmService.items$ | async">
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.cuit }}</td>
                <td className="actions">
                    <button class="btn btn-sm btn-primary" (click)="abrirModal(true, 'Cliente', cliente)">Ver</button>
                    <button class="btn btn-sm btn-success" (click)="abrirModal(false, 'Cliente', {
                        nombre: cliente.nombre,
                        cuit: cliente.cuit,
                        id: cliente.id,
                        email: cliente.email,
                        domicilio: cliente.domicilio,
                        telefono: cliente.telefono
                    })">Editar</button>
                    <button class="btn btn-sm btn-danger" (click)="abmService.deleteItem('clientes', cliente.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <h5 *ngIf="!(abmService.itemsLength$ | async)">No hay resultados</h5>
    <div>
        <select id="pageSize" [(ngModel)]="abmService.take" (change)="abmService.getAllItems('clientes')">
            <option value="5">Ver de 5 items por página</option>
            <option value="10">Ver de 10 items por página</option>
            <option value="15">Ver de 15 items por página</option>
            <option value="20">Ver de 20 items por página</option>
            <option value="25">Ver de 25 items por página</option>
        </select>
        <div>
            <button class="btn btn-page" *ngIf="abmService.page > 1" (click)="abmService.pageBack('clientes')">< Anterior</button>
            <button class="btn btn-page" *ngIf="(abmService.take * abmService.page) < (abmService.itemsLength$ | async)!" (click)="abmService.pageForw('clientes')">Siguiente ></button>
        </div>
    </div>
</div>